:root {
    scroll-behavior: smooth;
}

.hide {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

header {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.header-title {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.header-nav {
    margin-left: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-link {
    font-size: 1em;
    color: #007bff;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.floating {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.floating-scroll {
    text-decoration: none;
    display: none;
    right: 50%;
    top: 20px;
    opacity: 0.5;
}

.floating-menu {
    bottom: 200px;
}

.floating-clear {
    bottom: 140px;
}

.floating-reference-toggle {
    bottom: 80px;
}

.floating-toggle.toggled,
.floating-reference-toggle.toggled {
    background-color: #ff6347;
}

@media (max-width: 760px) {

    .floating-menu,
    .floating-reference-toggle,
    .floating-toggle,
    .floating-clear {
        opacity: 0.7;
    }

    .floating-toggle.toggled,
    .floating-reference-toggle.toggled {
        opacity: 0.7;
    }
}

.menu-items {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 90px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 8px;
    overflow: hidden;
    width: 320px;
    max-height: 300px;
    overflow-y: scroll;
}

.menu-item {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #fff;
    color: #333;
}

.menu-item:hover {
    background-color: #f4f4f4;
}

.questions-container {
    max-width: 600px;
    width: 100%;
    margin-top: 20px;
}

.question-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.question-card.read {
    background-color: #e0e0e0;
    color: #888;
}

.question-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.question-number {
    font-size: 1.2em;
    font-weight: bold;
}

.question-text {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.question-number-and-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question-card-buttons {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.question-card-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 0 2px;
    font-size: 1em;
    color: #777;
    transition: color 0.3s ease;
}

.question-card-button:hover {
    color: #007bff;
}

.question-card-button i {
    font-size: 1.1em;
}

@media (max-width: 600px) {
    .question-number-and-actions {
        flex-direction: column;
        align-items: flex-start;
    }

    .question-card-buttons {
        margin-left: 0;
        margin-top: 5px;
    }
}

.choices {
    display: flex;
    flex-direction: column;
}

.choice {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
}

.choice input[type="checkbox"] {
    margin-right: 10px;
    margin-top: 2px;
}

.read-toggle {
    display: flex;
    align-items: center;
}

.read-toggle .read-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

.read-toggle .slider {
    position: relative;
    width: 34px;
    height: 20px;
    background-color: #ccc;
    border-radius: 34px;
    transition: 0.4s;
    cursor: pointer;
}

.read-toggle .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

.read-toggle .read-checkbox:checked+.slider {
    background-color: #007bff;
}

.read-toggle .read-checkbox:checked+.slider:before {
    transform: translateX(14px);
}

.correct {
    background-color: lightgreen;
}

.wrong {
    background-color: lightcoral;
}

.missing {
    background-color: yellow;
}

/*Feedback Page*/
.feedback-form-container {
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.feedback-form-group {
    margin-bottom: 15px;
}

.feedback-form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.feedback-form-group input,
.feedback-form-group select,
.feedback-form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0;
    box-sizing: border-box;
}

.feedback-form-group textarea {
    resize: none;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 20px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.quiz-form-container {
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.quiz-form-group {
    margin-bottom: 15px;
}

.quiz-form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.quiz-form-group input,
.quiz-form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0;
    box-sizing: border-box;
}

.quiz-form-group select[name='rules-filter'] {
    height: 250px;
}

.rules-filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rules-filter-container .icons {
    display: flex;
    gap: 5px;
}

#rules-filter-select-all {
    color: green;
    cursor: pointer;
}

#rules-filter-clear-all {
    color: red;
    cursor: pointer;
}

.question-score {
    font-weight: bold;
    margin-top: 10px;
}

.total-score {
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.references {
    margin-top: 20px;
    padding: 1px 25px;
    background-color: #f9f9f9;
    border-left: 5px solid #007bff;
    border-radius: 8px;
}

.references h3 {
    font-size: 1em;
    font-weight: bold;
    color: #007bff;
}

.references ul {
    padding-left: 20px;
    list-style-type: square;
}

.references ul li {
    font-size: 0.9em;
    line-height: 1.4em;
    margin-bottom: 5px;
}

/* Error Page */
.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f4f4f4;
}

.error-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.error-title {
    font-size: 2em;
    font-weight: bold;
    color: #ff6347;
    margin-bottom: 20px;
}

.error-message {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #333;
}
