{{block "content" .}}
<div class="error-container">
    <div class="error-content">
        <h1 class="error-title">Oops! Something Went Wrong</h1>
        <p class="error-message">We are sorry, but an unexpected error has occurred.</p>
        <form>
            <button formaction="/" type="submit">Go to Homepage</a>
        </form>
    </div>
</div>
{{end}}
