<div class="header" onclick="toggleFilter()">Filter <div id="checkbox" class="checkbox"></div></div>
<div id="filterContent" class="filter-content">
    <!-- Add your filter options here -->
    <label><input type="checkbox" name="option1"> Option 1</label><br>
    <label><input type="checkbox" name="option2"> Option 2</label><br>
    <label><input type="checkbox" name="option3"> Option 3</label><br>
</div>