{{block "content" .}}
    <table>
        <tr>
            <th>Rule</th>
            <th>Rule Name</th>
            <th>Rule Question Number</th>
            <th>Question</th>
        </tr>
        {{range .}}
            <tr>
                <td>{{.Rule.ID}}</td>
                <td>{{.Rule.Name}}</td>
                <td>{{.RuleQuestionNumber}}</td>
                <td>{{.Text}}</td>
            </tr>
        {{end}}
    </table>
{{end}}