{{block "content" .}}
    <div class="quiz-form-container">
        <h2>Quiz Configuration</h2>
        <form id="quiz-config-form" method="post">
            <input type="hidden" id="seed" name="seed" value="{{.Seed}}">
            <div class="quiz-form-group">
                <label for="num-questions">Number of Questions:</label>
                <input class="number-input" type="text" inputmode="numeric" id="num-questions" name="num-questions" value="20" max="{{.MaxNumQuestions}}" required>
            </div>
            <div class="quiz-form-group">
                <label for="duration">Duration (minutes):</label>
                <input class="number-input" type="text" inputMode="numeric" id="duration" name="duration" value="60" required>
            </div>
            <div class="quiz-form-group">
                <label for="rules">Rules Topics Tested:</label>
                <select id="rules" name="rules" multiple required>
                    {{ range .RulesFilter }}
                        <option selected value="{{.ID}}">{{ .ID }} - {{ .Name }}</option>
                    {{ end }}
                </select>
            </div>
            <div class="quiz-form-group">
                <label for="negative-marking" title="minus a point for a wrongly selected answer">Negative
                    Marking:</label>
                <select id="negative-marking" name="negative-marking" required>
                    <option value="true">Yes</option>
                    <option value="false" selected>No</option>
                </select>
            </div>
            <button type="submit">Start Quiz</button>
        </form>
    </div>
    <script src="/static/quizConfig.js"></script>
{{ end }}